---
enable_maths: false
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    
    <link rel="stylesheet" href="assets/css/home.css" type="text/css">
</head>

<script>
    var contact_visible = false;

    function rev(s) {
        var sarr = s.split("");
        var srev = sarr.reverse();
        return srev.join("");
    }

    function form_contact() {
        var user = "{{ site.author.email.user }}";
        var domain = "{{ site.author.email.domain }}";
        var tld = "{{ site.author.email.tld }}";
        var full = tld + domain + String.fromCharCode(64) + user;
        return rev(full);
    }

    function set_alt_attributes(object) {
        var contact_str = form_contact();
        object.setAttribute("alt", contact_str);
        object.setAttribute("title", contact_str);
    }
</script>

<body id="body">
    
    <div class="home-container">
        <div class="profile-container">
            <img class="profile-picture" src="assets/profile.png" alt="Profile picture"/>

            <div class="about-me">
                
                <h1>Hi there, <span>I'm <b>Thomas Varnish</b></span></h1>
                <p>
                    <span>PhD student at the <a href="https://www.psfc.mit.edu/" title="Plasma Science and Fusion Center">PSFC</a> at <a href="https://mit.edu/" title="Massachusetts Institute of Technology">MIT</a>.</span>
                    <span>Occasional maker of things.</span>
                    <span>Studying astrophysically-relevant plasma physics on <a href="https://puffin.mit.edu/" title="PUlser For Fundamental [Plasma Physics] INvestigations">PUFFIN</a>.</span>
                </p>

                <div class="social-links">
                    {% if site.author.youtube %}
                    <a href="https://www.youtube.com/c/{{ site.author.youtube }}" alt="YouTube" title="YouTube" aria-label="YouTube"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                    {% endif %}
                
                    {% if site.author.twitter %}
                    <a href="https://twitter.com/{{ site.author.twitter }}" alt="Twitter" title="Twitter" aria-label="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    {% endif %}
                
                    {% if site.author.github %}
                    <a href="https://github.com/{{ site.author.github }}" alt="GitHub" title="GitHub" aria-label="GitHub"><i class="fab fa-github" aria-hidden="true"></i></a>
                    {% endif %}
                
                    {% if site.author.linkedin %}
                    <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" alt="LinkedIn" title="LinkedIn" aria-label="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    {% endif %}

                    {% if site.author.orcid %}
                    <a href="https://orcid.org/{{ site.author.orcid }}" alt="ORCID iD" title="ORCID iD" aria-label="ORCID iD"><i class="fab fa-orcid" aria-hidden="true"></i></i></a>
                    {% endif %}
                
                    {% if site.author.email %}
                    <a id="mail" onclick="show_contact()" alt="Show Email Address" title="Show Email Address" aria-label="Email Address: tvarnish@mit.edu"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    {% endif %}

                    <img id="contact" src="assets/contact.jpg" onload="set_alt_attributes(this);" style="visibility: hidden;"/>
                </div>

                <div class="page-links-home">
                    {% for page in site.sitepages %}
                        <span><a href="/{{ page.url }}">{{ page.label }}</a></span>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

</body>

<script>
    document.getElementById('contact').ondragstart = function() { return false; };

    function show_contact() {
        element = document.getElementById("contact");
        if (contact_visible == false) {
            element.style.visibility = "visible";
            contact_visible = true;
        } else {
            element.style.visibility = "hidden";
            contact_visible = false;
        }
    }
</script>

</html>