<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="/assets/css/main.css" type="text/css">
    </head>
<body>
    <div class="container">
        <nav>
            <span id="site-link-mobile"><a href="{{ site.url }}">Thomas Varnish</a></span>
            <span><a href="{{ site.url }}"><i class="fas fa-angle-left"></i> HOME</a></span>
        </nav>

        <div class="content-container">
            <div class="sidebar">
                <img class="profile-picture" src="/assets/profile.png" alt="Profile picture"/>
                <p>
                    <span id="main-tagline"><b>Thomas Varnish</b></span>
                    <span id="site-link"><a href="{{ site.url }}">thomasvarnish.co.uk</a></span>
                </p>
                <p id="page-links">
                    {% for page in site.sitepages %}
                        <span><a href="/{{ page.url }}">{{ page.label }}</a></span>
                    {% endfor %}
                </p>
                <div class="social-links">
                    {% if site.author.youtube %}
                    <a href="https://www.youtube.com/c/{{ site.author.youtube }}" alt="YouTube" title="YouTube"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                    {% endif %}
                
                    {% if site.author.twitter %}
                    <a href="https://twitter.com/{{ site.author.twitter }}" alt="Twitter" title="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    {% endif %}
                
                    {% if site.author.github %}
                    <a href="https://github.com/{{ site.author.github }}" alt="GitHub" title="GitHub"><i class="fab fa-github" aria-hidden="true"></i></a>
                    {% endif %}
                
                    {% if site.author.linkedin %}
                    <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" alt="LinkedIn" title="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="content">
                <h1 id="page-title"> {{ page.title }} </h1>

                <p>{{ page.intro }}</p>

                <ul class="blog-post-list">
                {% for post in site.posts %}
                    <li>
                        <span class="blog-link-date">{{ post.date | date_to_long_string }}</span>
                        <span class="blog-link-title"><h2><a href="{{ post.url }}">{{ post.title }}</a></h2></span>
                        <span class="blog-link-desc">{{ post.abstract }}</span>

                        {% for tag in post.categories %}
                            <span class="blog-link-tag">#{{ tag }}</span>
                        {% endfor %}
                    </li>
                {% endfor %}
                {% assign posts_size = site.posts | size %}
                {% if posts_size == 0 %}
                    <li>
                        <span class="blog-link-desc">Whoops... There don't appear to be any posts just yet!</span>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>

        <div class="mobile-footer">
            <div class="footer-profile-container">
                <img id="footer-profile-picture" src="/assets/profile.png" alt="Profile picture"/>
            </div>
            <div class="footer-text-container">
                <p>
                    <span id="main-tagline"><b>Thomas Varnish</b></span>
                    <span id="site-link"><a href="{{ site.url }}">thomasvarnish.co.uk</a></span>
                </p>
                <div class="social-links">
                    {% if site.author.youtube %}
                    <a href="https://www.youtube.com/c/{{ site.author.youtube }}" alt="YouTube" title="YouTube"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                    {% endif %}
                
                    {% if site.author.twitter %}
                    <a href="https://twitter.com/{{ site.author.twitter }}" alt="Twitter" title="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    {% endif %}
                
                    {% if site.author.github %}
                    <a href="https://github.com/{{ site.author.github }}" alt="GitHub" title="GitHub"><i class="fab fa-github" aria-hidden="true"></i></a>
                    {% endif %}
                
                    {% if site.author.linkedin %}
                    <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" alt="LinkedIn" title="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>