<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="/assets/css/main.css" type="text/css">
        <link rel="stylesheet" href="/assets/css/post.css" type="text/css">
    </head>
<body>
    <div class="container">
        <nav>
            <span id="site-link-mobile"><a href="/">Thomas Varnish</a></span>
            <button type="button" id="collapsible-button">MENU <i class="fas fa-bars"></i></button>
        </nav>

        <div id="collapsible-content">
            <a href="/" class="mobile-site-link">Home</a>
            <!-- <span><a href="/">Home</a></span> -->
            {% for page in site.sitepages %}
                <a href="/{{ page.url }}" class="mobile-site-link">{{ page.label }}</a>
            {% endfor %}
        </div>

        <div class="content-container">
            <div class="sidebar">
                <img class="profile-picture" src="/assets/profile.jpg" alt="Profile picture"/>
                <p>
                    <span id="main-tagline"><b>Thomas Varnish</b></span>
                    <span id="site-link"><a href="/">thomasvarnish.co.uk</a></span>
                </p>
                <p id="page-links">
                    {% for page in site.sitepages %}
                        <span><a href="/{{ page.url }}">{{ page.label }}</a></span>
                    {% endfor %}
                </p>
                <div class="social-links">
                    {% if site.author.youtube %}
                    <a href="https://www.youtube.com/c/{{ site.author.youtube }}" alt="YouTube" title="YouTube"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                    {% endif %}
                
                    {% if site.author.twitter %}
                    <a href="https://twitter.com/{{ site.author.twitter }}" alt="Twitter" title="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    {% endif %}
                
                    {% if site.author.github %}
                    <a href="https://github.com/{{ site.author.github }}" alt="GitHub" title="GitHub"><i class="fab fa-github" aria-hidden="true"></i></a>
                    {% endif %}
                
                    {% if site.author.linkedin %}
                    <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" alt="LinkedIn" title="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    {% endif %}

                    {% if site.author.orcid %}
                    <a href="https://orcid.org/{{ site.author.orcid }}" alt="ORCID iD" title="ORCID iD"><i class="fab fa-orcid"></i></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="content">
                <p id="post-date"> {{ page.date | date_to_long_string }} </p>
                <h1 id="page-title"> {{ page.title }} </h1>

                {{ content }}
            </div>
        </div>

        <div class="mobile-footer">
            <div class="footer-profile-container">
                <img id="footer-profile-picture" src="/assets/profile.jpg" alt="Profile picture"/>
            </div>
            <div class="footer-text-container">
                <p>
                    <span id="main-tagline"><b>Thomas Varnish</b></span>
                    <span id="site-link"><a href="/">thomasvarnish.co.uk</a></span>
                </p>
                <div class="social-links">
                    {% if site.author.youtube %}
                    <a href="https://www.youtube.com/c/{{ site.author.youtube }}" alt="YouTube" title="YouTube"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                    {% endif %}
                
                    {% if site.author.twitter %}
                    <a href="https://twitter.com/{{ site.author.twitter }}" alt="Twitter" title="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    {% endif %}
                
                    {% if site.author.github %}
                    <a href="https://github.com/{{ site.author.github }}" alt="GitHub" title="GitHub"><i class="fab fa-github" aria-hidden="true"></i></a>
                    {% endif %}
                
                    {% if site.author.linkedin %}
                    <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" alt="LinkedIn" title="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    {% endif %}

                    {% if site.author.orcid %}
                    <a href="https://orcid.org/{{ site.author.orcid }}" alt="ORCID iD" title="ORCID iD"><i class="fab fa-orcid"></i></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% include collapsible.html %}